label {
    color: darkblue;
}

div {
    background-color: bisque;
}

.youtubeform + p {
    color: rgb(114, 227, 175);
}
.youtubebutton {
    background-color: rgb(170, 194, 239);
    color: aliceblue;
}
.youtubebutton:hover {
    background-color: cornflowerblue;
}
.youtubebutton:active {
    background-color: rgb(0, 55, 158);
}

 input:focus {
    background-color: rgb(149, 210, 177);
 }
#youtube-search:focus {
    background-color: rgb(149, 210, 177);
}
 .Conectwme input:invalid {
    background-color: rgb(237, 158, 158);
}
 .Conectwme input:valid {
    background-color: rgb(149, 210, 177);
 }
